:root {
	--header-image: url('resources/header.png');
	--body-bg-image: url('resources/sitebg.jpg');
	--purple-point: url('resources/purplepoint.gif');
	--blue-point: url('resources/bluepoint.gif');

	/* colors */
	--theme-dark-bg: #023059;
	--theme-medium-bg: #260126;
	--theme-light-bg: #023059;
	--theme-text-focus: #3bdbed;
	--theme-text-unfocus: #a84da8;
	--theme-text-default: #fcf5fc;
	--theme-border-blue: #30F2DF;
	--theme-border-purple: #EE05F2;
}

@font-face {
	font-family: VCR_OSD;
	src: url('resources/VCR_OSD_MONO_1.001.ttf');
}

body {
	font-family: 'VCR_OSD', sans-serif;
	margin: 0;
	background-color: var(--theme-dark-bg);
	color: var(--theme-text-default);
	background-image: var(--body-bg-image);
}

* {
	box-sizing: border-box;
}

#container {
	max-width: 900px;
	margin: 0 auto;
}

#container a {
	color: var(--theme-text-focus);
	font-weight: bold;
}

#header {
	width: 100%;
	background-color: var(--theme-light-bg);
	height: 210px;
	background-image: var(--header-image);
	background-size: 100%;
	margin-bottom: 10px;
}

#flex {
	display: flex;
}

main {
	flex: 1;
	order: 2;
}

main hr {
	color: var(--theme-border-blue);
	margin: 20px 0;
}

#leftsidebar {
	order: 1;
	margin-right: 10px;
	border: none;
	width: 220px;
	min-height: 800px;
}

footer {
	background-color: var(--theme-medium-bg);
	width: 100%;
	text-align: center;
	font-size: 12px;
	border: 1px solid var(--theme-border-purple);
}

h1,
h2,
h3 {
	color: var(--theme-text-focus);
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 20px;
}

strong {
	color: var(--theme-text-focus);
}

.box {
	background-color: var(--theme-dark-bg);
	border: 1px solid var(--theme-border-blue);
	padding: 10px;
}

.post {
	background-color: var(--theme-light-bg);
	padding: 10px;
	border: 1px solid var(--theme-border-blue);
}

.post h2 {
	font-size: 14px;
	font-style: italic;
	color: var(--theme-text-unfocus);
}

.post+.post {
	margin-top: 10px;
}

.tooltip {
	display: inline;
	border-bottom: 2px solid var(--theme-border-blue)
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 240px;
	background-color: var(--theme-medium-bg);
	color: var(--theme-text-unfocus);
	padding: 10px;
	border: 1px solid var(--theme-border-purple);
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.card {
	background-color: var(--theme-light-bg);
	border: 1px solid var(--theme-border-blue);
	padding: 10px;
	width: 32%;
	height: 360px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
}

.card img {
	width: 75%;
	border: 1px solid var(--theme-border-blue)
}

.card+.card {
	/* margin-left: 10px; */
}

.cardline+.cardline {
	margin-top: 10px;
}

#wga img {
	display: block;
	width: 80%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#topBar {
	width: 100%;
	height: 30px;
	padding: 10px;
	font-size: smaller;
}

.soren {
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 400px;
}

.sorenscreen {
	position: fixed;
	bottom: 220px;
	right: 192px;
	width: 100px;
	border-radius: 50%
}

#lastupdates {
	height: 400px;
	overflow: scroll;
}

main li {
	list-style-image: url('resources/dot.png');
	margin: 10px 0;
}

/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/
@media only screen and (max-width: 800px) {
	#flex {
		flex-wrap: wrap;
	}

	#header {
		height: 70px;
	}

	#leftsidebar {
		order: 2;
		margin-top: 10px;
		margin-right: 0;
		width: 100%;
		height: 300px;
	}

	/* the order of the items is adjusted here for responsiveness!
	since the sidebars would be too small on a mobile device.
	feel free to play around with the order!
	*/
	main {
		order: 1;
	}

	.card {
		width: 100%;
		overflow-wrap: break-word;
		height: 400px;
	}

	.card+.card {
		margin-left: 0;
		margin-top: 10px;
	}

	.tooltip {
		border: none !important;
	}

	.tooltip .tooltiptext {
		visibility: visible;
		display: inline;
		width: auto;
		position: relative;
		border: none !important;
		background-color: inherit;
		padding: inherit;
	}

	.soren {
		visibility: hidden;
	}

	.sorenscreen {
		visibility: hidden;
	}

	#lastupdates {
		height: auto;
		overflow: hidden;
	}
}